@model MvcBoutique.Models.Boutique

@{
    ViewBag.Title = "Showcase";
}


<html>
<head>
    <style>
        .change img{
            height:300px;
            
        }
    </style>
</head>
<body>

    <h2>Showcase</h2>

    <div class="container change">
        <img src="https://www.nikkisglitzandglamboutique.com/uploads/filemanager/Bridal_Looks_Updated_Mobile.jpg"
    </div>

    <hr/>


    <div class="container change">
        <img src="https://media-api.xogrp.com/images/85e24d12-b876-4b60-82e4-3ac788a4bb00"
    </div>

</body>
</html>

